@{
    ViewData["Title"] = "Gallery";
}

<div class="container">
    <div class="photo-container">
        <div>
            <img src="@Url.Action("GetLink", "Gallery", new { fileName = Model.PrevCat.FileName })" 
                 class="photo-container prev-photo" alt="Prev Cat"/>
        </div>
        <div>
            <img src="@Url.Action("GetLink", "Gallery", new { fileName = Model.CurrCat.FileName })" 
                 class="photo-container current-photo" alt="Curr Cat"/>
        </div>
        <div>
            <img src="@Url.Action("GetLink", "Gallery", new { fileName = Model.NextCat.FileName })" 
                 class="photo-container next-photo" alt="Next Cat"/>
        </div>
    </div>

    <div class="nav-buttons">
        <button class="gallery-btn btn btn-outline-secondary border-2 px-4 py-2"
                data-action="@Url.Action("PrevCat", "Gallery")">
            Предыдущая
        </button>
        
        <button class="gallery-btn btn btn-outline-secondary border-2 px-4 py-2"
                data-action="@Url.Action("NextCat", "Gallery")">
            Следующая
        </button>
    </div>
</div>